openapi: "3.0.0"

info:
  title: "APIs ServiEstado"
  version: "1.0.0"
  description: "Documentación relacionada a las APIs utilizadas para el nuevo Portal Empresa de ServiEstado."


servers:
  - url: http://a69a56848693011eab3eb0e1f5b95262-922333886.us-east-1.elb.amazonaws.com/bff/se-bff-empresas/v1/
  - url: http://localhost:8080/bff/se-bff-empresas/v1


tags:
- name: "registro-biller"
- name: "login"
- name: "recaudaciones"
paths:
  /registro-biller:
    post:
      tags:
      - "registro-biller"
      summary: "Registra a un nuevo BIller"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/registroBiller"
      responses:
        200:
          description: "Datos Correctos"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseCorrectData"
        400:
          description: "Datos incompletos"
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/ApiResponseIncorrectData"
  /login:
    post:
      tags:
      - "login"
      summary: "Da acceso a un usuario BIller"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/login"
      responses:
        200:
          description: "Datos Correctos"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseCorrectData"
        400:
          description: "Usuario no encontrado"
          content:
            application/json:    
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ApiResponseIncorrectData"
                  - $ref: "#/components/schemas/ApiResponseUserNotFound"
  /login/change-password:
    put:
      tags:
      - "login"
      summary: "Cambia clave a un usuario BIller"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/changePassword"
      responses:
        200:
          description: "Datos Correctos"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseCorrectData"
        400:
          description: "Datos incompletos"
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/ApiResponseIncorrectData"
  /login/recover-password:
    post:
      tags:
      - "login"
      summary: "Recupera clave a un usuario BIller"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/recoverPassword"
      responses:
        200:
          description: "Datos Correctos"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseCorrectData"
        400:
          description: "Datos incorectos"
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/ApiResponseIncorrectData"
  /maintainer-user/registerNewUser:
    post:
      tags:
      - "maintainer-user"
      summary: "Registra a un nuevo usuario"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/registerNewUser"
      responses:
        200:
          description: "Datos Correctos"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseCorrectData"
        400:
          description: "Datos incorrectos"
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/ApiResponseIncorrectData"
  /maintainer-user/personalInformation:
    post:
      tags:
      - "maintainer-user"
      summary: "Registra a un nuevo usuario"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/personalInformation"
      responses:
        200:
          description: "Datos Correctos"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseCorrectData"
        400:
          description: "Ha ocurrido un error"
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/ApiResponseIncorrectData"
  /maintainer-user/assignedAgreements/:
    post:
      tags:
      - "maintainer-user"
      summary: "Permite ver y descargar los convenios asignados en PDF"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/assignedAgreements"
      responses:
        200:
          description: "Datos Correctos"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponseCorrectData"
        400:
          description: "Datos incompletos"
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/ApiResponseIncorrectData"
  /convenios/{rutEmpresa}:
    get:
      tags:
      - recaudaciones
      summary: Obtiene los convenios de un biller
      parameters:
        - in: path
          name: rutEmpresa
          schema: 
            type: string
          required: true
          description: Rut biller a obtener convenios
          example: 92.580.000-7
      responses:
        200:
          description: Datos Correctos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCorrectData'
        400:
          description: Datos Incorrectos
          content:
            application/json:    
              schema:
                $ref: '#/components/schemas/ApiResponseIncorrectData'
  /convenios/recaudacion/{rutEmpresa}:
    get:
      tags:
      - recaudaciones
      summary: Obtiene los convenios con su recaudacion de un biller
      parameters:
        - in: path
          name: rutEmpresa
          schema: 
            type: string
          required: true
          description: Rut biller a obtener convenios
          example: 92.580.000-7
      responses:
        200:
          description: Datos Correctos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCorrectData'
        400:
          description: Datos Incorrectos
          content:
            application/json:    
              schema:
                $ref: '#/components/schemas/ApiResponseIncorrectData'
  /recaudacion/{idConvenio}:
    get:
      tags: 
        - recaudaciones
      summary: Obtiene la recaudacion de un convenio
      parameters:
        - in: path
          name: idConvenio
          schema: 
            type: string
          required: true
          description: ID del convenio a obtener recaudacion
          example: 35354534
      responses:
        200:
          description: Datos Correctos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponseCorrectData'
        400:
          description: Datos Incorrectos
          content:
            application/json:    
              schema:
                $ref: '#/components/schemas/ApiResponseIncorrectData'
components:
  schemas:
    registroBiller:
      type: "object"
      properties:
        business_name:
          type: "string"
          example: "businessname"
        rut:
          type: "string"
          example: "rut"
        name:
          type: "string"
          example: "name"
        last_name:
          type: "string"
          example: "last_name"
        email:
          type: "string"
          example: "email@gmail.com"
        phone:
          type: "string"
          example: "963214569"
        position:
          type: "string"
          example: "position"
    login:
      type: "object"
      properties:
        rut:
          type: "string"
          example: "11111111-2"
        email:
          type: "string"
          example: "entel@cliente.cl"
        password:
          type: "string"
          example: "12345678"
        changePassword:
          type: "boolean"
          example: false
    changePassword:
      type: "object"
      properties:
        rut:
          type: "string"
          example: "11111111-1"
        email:
          type: "string"
          example: "cliente@cliente.cl"
        oldPassword:
          type: "string"
          example: "RC123456"
        newPassword:
          type: "string"
          example: "12345678"
    recoverPassword:
      type: "object"
      properties:
        rut:
          type: "string"
          example: "76124890-1"
        email:
          type: "string"
          example: "claudio.monasterio@telefonica.com"
    registerNewUser:
      type: object
      properties:
        name:
          type: string
          example: Juan Perez
        email:
          type: string
          example: entel@cliente.cl
        perfil:
          type: string
          example: Administrador
        asignarContacto:
          type: boolean
          example: true
        tipoContacto:
          type: string
          example: Contacto Operacional
    personalInformation:
      type: object
      properties:
        email:
          type: string
          example: claudio.monasterio@telefonica.com
        rut:
          type: string
          example: 76.124.890-1
    assignedAgreements:
      type: "object"
      properties:
        nameFile:
          type: string
          example: Deptos._Coquimb
    ApiResponseCorrectData:
      type: "object"
      properties:
        code:
          type: "string"
          example: "OK.000"
        message:
          type: "string"
          example: "Datos Correctos"
        data:
          type: "object"
          example: {}
    ApiResponseIncorrectData:
      type: "object"
      properties:
        code:
          type: "string"
          example: "ERROR.001"
        message:
          type: "string"
          example: "Datos Incorrectos"
        data:
          type: "object"
          example: {}
    ApiResponseIncompleteData:
      type: "object"
      properties:
        code:
          type: "string"
          example: "ERROR.001"
        message:
          type: "string"
          example: "Datos Incompletos"
        data:
          type: "object"
          example: {}
    ApiResponseUserNotFound:
      type: "object"
      properties:
        code:
          type: "string"
          example: "ERROR.001"
        message:
          type: "string"
          example: "Usuario no encontrado"
        data:
          type: "object"
          example: {}
    ConvenioSchema:
      type: object
      properties:
        rutEmpresa:
          type: string
          example: 92.580.000-7
        id:
          type: string
          example: 35354534
        nombre: 
          type: string
          example: Comunidad Edificio Viña del mar
        tipoServicio:
          type: string
          example: nomina
        numeroClientes: 
          type: number
          example: 200
        rendicionInfo: 
          type: string
          example: 10-07-2019
        inicioFacturacion:
          type: string
          example: 10-07-2019
        finFacturacion: 
          type: string
          example: 20-07-2019
    RecaudacionSchema:
      type: object
      properties:
        idConvenio: 
          type: string
          example: 35354534,
        totalRecaudacion:
          type: string
          example: 120.000.000,
        totalRecaudado:
          type: string
          example: 89.130.000,
        abonado:
          type: string
          example: 70.000.000,
        consultas:
          type: number
          example: 250,
        pagos: 
          type: number
          example: 85,
        lastUpdate: 
          type: string
          example: 20-07-2020